### Exclude everything unless implicitly added
*.jpg
*.txt
*.shtml
.ht*
*.txt
*.zip
.smil*
*.jpeg
.wy*
*.ico

argie/


# Exclude all WP files except modernize and modernize-child themes
wp/*.php
wp/*.html
wp/*.txt
wp/wp-admin
wp/wp-includes
wp/wp-snapshots
wp/wp-content/*.php
wp/wp-content/updraft/
wp/wp-content/plugins/
wp/wp-content/uploads/

# theme info to exclude
wp/wp-content/themes/twenty*
wp/wp-content/themes/*.php


### Exclude existing 10 files
### OS files
nbproject/
*.DS_Store*

